div.markdown
    :markdown
        # My item!

//.separator-rare
//.header-rare

div.item.rare
    div.item-container
        div.item-content
            div.header
                div.header-left
                div.header-right

                span.item-name Gale Gnarl
                br
                span.item-type Imbued Wand

            div.item-stats
                span.item-text
                    | Wand
                    br
                    | Quality:
                    span.color-augmented  +20%
                    br
                    | Physical Damage:
                    span.color-augmented  23-42
                    br
                    | Elemental Damage:
                    span.color-fire  19-31
                    | ,
                    span.color-cold  20-38
                    br
                    | Critical Strike Chance:
                    span.color-augmented  10.64%
                    br
                    | Attacks per Second
                    span.color-augmented  1.67

            div.separator

            div.requirements
                span.item-text
                    | Requires Level
                    span.color-value-default  59
                    | ,
                    span.color-value-default  188
                    |  Int

            div.separator

            div.implicit-mod
                span 16% Increased Spell Damage

            div.separator

            div.explicit-mod
                | Adds 19-31 Fire Damage
                br
                | Adds 20-38 Cold Damage
                br
                | 11% Increased Attack Speed
                br
                | 33% Increased Critical Strike Chance
                br
                | 36% Increased Cold Resistance

            div.separator

            div.item-effects
                | Has Extra Gore
                br
                | Has Divine Weapon Effect
                br
                | Has Lifesprig Skin

            //div.separator

            //div.color-augmented
                span Mirrored

            //div.separator

            //div.description
                | This thing does stuff
                br
                | Do it by doing that!

            //div.flavor-text
                | This item is awesome!
                br
                | But my flavor text sucks..

img(src="http://i.imgur.com/MfyNwhm.png", alt="item compare")
