div(style="margin-left: 30px;")
    div#main
        div.socket-1.socket-dex.socket
        div.socket-2.socket-str.socket
        div.socket-3.socket-dex.socket
        div.socket-4.socket-dex.socket
        div.socket-5.socket-int.socket
        div.socket-6.socket-int.socket

        div.link-1.link-hor.link
        div.link-2.link-ver.link
        div.link-3.link-hor.link
        div.link-4.link-ver.link
        div.link-5.link-hor.link
