@import "fonts.scss";
@import "variables.scss";

.item {
    line-height: normal; // Remove bootstrap styling
    display: inline-block;

    .item-container {
        font-family: "Fontin SmallCaps";
        position: absolute;
        text-align: center;
        // font-size: 75%;
        margin-bottom: 20px;
        font-weight: normal;
    }

    .item-content {
        text-align: center;
        color: #efefef;
        font-size: 19px;
        background-color: #010101;
        padding-left: 11px;
        padding-right: 11px;
        padding-bottom: 7px;
    }

    .item-text {
        display: inline-block;
        padding: 0 20px;
        color: #777;
    }

    .item-stats {
        padding-top: 3px;
    }

    .item-name,
    .item-type {
        font-size: 21px;
        position: relative;
        //top: 1px;
    }

    .item-name {
        top: 3px;
    }

    // Clean up below
    .implicit-mods,
    .explicit-mods {
        color: $augmented;
        white-space: nowrap;
    }

    .corrupted,
    .unindentified {
        color: $unmet;
    }

    .cosmetic-mods {
        color: $cosmetic-mods;
    }

    .flavour-text {
        color: $flavour-text;
        font-style: italic;
    }

    .description {
        color: $default;
        font-style: italic;
    }
}

$rarities:
    "white"    29 34 $white-item,
    "magic"    29 34 $magic-item,
    "rare"     44 54 $rare-item,
    "unique"   44 54 $unique-item,
    "currency" 29 34 $currency-item,
    "gem"      29 34 $gem-item;

@each $rarity in $rarities {
    $name:   nth($rarity, 1);
    $width:  nth($rarity, 2);
    $height: nth($rarity, 3);
    $color:  nth($rarity, 4);
    $file:   capitalize($name);

    .item.#{$name} {
        .item-name,
        .item-type {
            color: $color;
        }

        // Move item type down a few pixels if the
        // rarity doesn't have an item name
        @if $height == 34 {
            .item-type {
                top: 4px;
            }
        }

        .header {
            background: top left repeat-x;
            background-image: url("../img/ItemHeader#{$file}Middle.png");
            height: #{$height}px;
            position: relative;

            .header-left {
                background: top left no-repeat;
                background-image: url("../img/ItemHeader#{$file}Left.png");
                width: #{$width}px;
                height: #{$height}px;
                left: -11px;
                position: absolute;
            }

            .header-right {
                background-image: url("../img/ItemHeader#{$file}Right.png");
                width: #{$width}px;
                height: #{$height}px;
                right: -11px;
                position: absolute;
            }

            .item-name,
            .item-type {
                color: $color;
            }
        }

        .separator {
            background: center no-repeat;
            background-image: url("../img/Separator#{$file}.png");
            height: 8px;
            position: relative;
        }

        .color-#{$name} {
            color: $color;
        }
    }
}

/*// TODO Can we change this somehow?
.color-augmented     { color: $augmented; }
.color-fire          { color: $fire; }
.color-cold          { color: $cold; }
.color-default       { color: $default; }
//.color-value-default { color: $value-default; }*/

$color-list: "default"          $default,
             "value-default"    $value-default,
             "augmented"        $augmented,
             "unmet"            $unmet,
             "physical-damage"  $physical-damage,
             "fire-damage"      $fire-damage,
             "cold-damage"      $cold-damage,
             "lightning-damage" $lightning-damage,
             "chaos-damage"     $chaos-damage,
             "magic-item"       $magic-item,
             "rare-item"        $rare-item,
             "unique-item"      $unique-item;

@each $col in $color-list {
    $name: nth($col, 1);
    $c:    nth($col, 2);

    .color-#{$name} {
        color: $c;
    }
}

// ----------------------------------------------------------------------------
// Sockets/links (some code taken from http://poe6l.julycui.com)
// ----------------------------------------------------------------------------
#main {
    // local file doesn't work for some reason..
    background-image: url("//webcdn.pathofexile.com/image/Art/2DItems/Armours/BodyArmours/BodyInt1CUnique.png?scale=1");
    background-repeat: no-repeat;
    min-height: 190px;
    //background-color: blue;
    position: relative;
}

// Item image is off my 0.5 - 1 px
.socket {
    width: 47px;
    height: 47px;
    left: 10px;
    //left: 30px;
    //top: 7px;
    position: absolute;
    z-index: 10; // do we need?
}

.socket,
.link {
    left: 14px;
    top: -23px;
}

.socket-int {
    background-image: url("../img/SocketInt.png");
}

.socket-str {
    background-image: url("../img/SocketStr.png");
}

.socket-dex {
    background-image: url("../img/SocketDex.png");
}

.socket-white {
    background-image: url("../img/SocketWhite.png");
}

$s-heights: 24px 71px 118px;
@for $i from 1 through 6 {
    .socket-#{$i} {
        margin-top: nth($s-heights, ceil($i / 2));

        @if $i % 2 == 0 {
            margin-left: 33px;
        } @else {
            margin-left: -14px;
        }
    }
}

.link {
    position: absolute;
    z-index: 20;
}

.link-hor {
    width: 38px;
    height: 16px;
    //left: 30px;
    //top: 7px;
    background-image: url("../img/Socket_Link_Horizontal.png");
}

.link-ver {
    width: 16px;
    height: 38px;
    //left: 30px;
    //top: 7px;
    background-image: url("../img/Socket_Link_Vertical.png");
}

.link-1 {
    margin-top: 40px;
    margin-left: 14px;
}

.link-2 {
    margin-top: 53px;
    margin-left: 49px;
}

.link-3 {
    margin-top: 88px;
    margin-left: 14px;
}

.link-4 {
    margin-top: 100px;
    margin-left: 2px;
}

.link-5 {
    margin-top: 135px;
    margin-left: 14px;
}
