//- Tell older browsers to upgrade
<!--[if lt IE 8]>
p.browsehappy
    | You are using an <strong>outdated</strong> browser.
    | Some parts of this site may not work.
    | Please <a href="http://browsehappy.com/">upgrade your browser</a>
    | to improve your experience.
<![endif]-->
